{{ define "main" }}

<div class=list-section> 
    <h2> <a href="/" style="text-decoration: none;"> {{ .Title }} </a></h2>

    <ol class="toc-list" role="list">

          <li>
             <ol role="list">

                 {{ range where (where .Site.RegularPages "Type" .Params.listType ) "File.Dir" .Params.dir }}
                    <li style="margin-bottom: 1em;">

                       <a href="{{ .Permalink }}">
                            <span class="title">{{.Title}}<span class="leaders" aria-hidden="true"></span></span> 
                            <span data-href="#Introduction-About-This-Book" class="page">
                              <span class="visually-hidden">Page&nbsp;</span>
                            {{.Summary}} </span>
                            <span class=hidden style="max-height:fit-content; opacity:1"> {{.Description}} </span>
                        </a>

              </li>

                       {{ end }} 
              </ol>
            </li>
          </ol>

  </div>

{{ end }}
