{{ define "main" }}

  <!-- <main id="swup" class="transition-fade"> -->

<!-- <span> <a href="#" > music </a> 
    <a href="#" class=hide> notebook </a> 
    
    

    <a href="#"> bad advice </a>  
    <a href="#" class=hide> colophon </a> 
  </span>  -->


  <div class=leftmost id=leftmost>
    <div class=close-mobile-menu> <button onclick="toggleLeftMost()"> ╳ </button></div>

    <h1> <a href="/"> joodaloop </a> </h1>
    <ol class="toc-list" role="list">

          <li>
               <a href="/bad-advice">
                    <span class="title bold">Bad Advice<span class="leaders" aria-hidden="true"></span></span> <span data-href="#Introduction" class="page"><span
                                    class="visually-hidden">Page&nbsp;</span>iii</span>
                          <span class=hidden> You should definitely not do all these things that I've done.</span>
               </a>

                 <a href="/essays">
                      <span class="title bold">Essays<span class="leaders" aria-hidden="true"></span></span> <span data-href="#Introduction" class="page"><span
                                      class="visually-hidden">Page&nbsp;</span>vii</span>
                 </a>

                <a href="/ideas">
                      <span class="title bold">Plans & Ideas<span class="leaders" aria-hidden="true"></span></span> <span data-href="#Introduction" class="page"><span
                                      class="visually-hidden">Page&nbsp;</span>xi</span>
                 </a>

        </li>
    </ol>
    
    <div class=section>

    <h2> Lists & Highlights </h2>

   <!--  <div class=leftmost-item> <a href="#"> Things I Think About Often </a> </div>
    <div class=leftmost-item> <a href="other.html"> Project Watchlist </a> </div>
    <div class=leftmost-item> <a href="#"> Quotes </a> </div>
    <div class=leftmost-item> <a href="#"> Software I Like </a> </div>
    <div class=leftmost-item> <a href="#"> Anti-library </a> </div>
    <div class="leftmost-item"> <a href="#"> Blogroll </a> </div>
    <div class="leftmost-item"> <a href="#"> Idea Lists </a> </div> -->

    {{ range where .Site.Pages "Type" "list" }}
           <div class=leftmost-item> <a href="{{ .Permalink }}"> {{.Title}} </a> </div>
    {{ end }}

    </div>


    <div class=section>
    <h2> Useful </h2>

    {{ range where (where .Site.RegularPages "Type" "useful") "File.Dir" "useful/" }}


           <div class=leftmost-item> <a href="{{ .Permalink }}"> {{.Title}} </a> </div>
    {{ end }}

   <!--  <h3> Body </h3>
    <div class=leftmost-item> <a href="#"> Lifting & Bodybuilding </a> </div>
    <div class=leftmost-item> <a href="#"> Health Stuff </a> </div>


    <h3> Productivity </h3>

    <div class=leftmost-item> <a href="#"> To-do Stack </a> </div>
    <div class=leftmost-item> <a href="#"> How I Write </a> </div>
    <div class=leftmost-item> <a href="#"> Shortcuts </a> </div>

 -->

    </div>


    <div class=section>
    <h2> Notes </h2>

    {{ range where .Site.Pages "Type" "note" }}
           <div class=leftmost-item> <a href="{{ .Permalink }}"> {{.Title}} </a> </div>
    {{ end }}

    </div>

    <div class=section>
    <h2> Projects </h2>

    {{ range where .Site.Pages "Type" "project" }}
           <div class=leftmost-item> <a href="{{ .Permalink }}"> {{.Title}} </a> </div>
    {{ end }}


    </div>

    <!-- <div class="leftmost-item bold"> <a href="/colophon"> Colophon </a> </div> -->

     <ol class="toc-list" role="list">

          <li>       
                 <a href="/colophon">
                      <span class="title bold">Colophon<span class="leaders" aria-hidden="true"></span></span> <span data-href="#Introduction" class="page"><span
                                      class="visually-hidden">Page&nbsp;</span>xxi</span>
                 </a>
        </li>
    </ol>



  </div><div class=left id=left>
    <div class=holder id=holder>
    <div class="left-item subtitle"> <b><i> {{ .Description }} </i></b> </div>

    {{ if .Params.toc }}
    <aside>
        {{ .Page.TableOfContents }}
    </aside>
    {{ end }}

  </div>
  </div>

    

  <div class=right id=right>

    <div id=mobile-menu>

      <div id=title> <a href="/"> joodaloop </a> </div>
      <div id=buttons>
      <button onclick="toggleLeftMost()"> Menu </button>
    </div>
    </div>
           
      <main id=main>

        <h1>{{ .Title }}</h1>
        {{ .Content }}
      
      </main>
</div>
 <script>
    
  function closeLeft(){
    document.getElementById("left").classList.toggle("closed")
  }

  let sidebar = document.getElementById("leftmost");

  let scroll = localStorage.getItem("sidebar-scroll");

  if (scroll != null) {
    sidebar.scrollTop = parseInt(scroll, 10);
  }

  window.addEventListener("beforeunload", () => {
    localStorage.setItem("sidebar-scroll", sidebar.scrollTop);
  });

  function toggleLeftMost(){
    document.getElementById("leftmost").classList.toggle("visible")
    document.getElementById("right").classList.toggle("invisible")
  }

    </script>

<!-- <div class=distort>dgsgh</div> -->

 {{ end }}


