<style>
  @font-face {
        font-family: 'Petrona';
        font-style: normal;
        src: url('/fonts/Petrona.woff2') format('woff2');
         font-display: swap;
         font-weight: 1 999; 
      }

  @font-face {
        font-family: 'Petrona';
        src: url('/fonts/Petrona-Italic.woff2') format('woff2');
         font-display: swap;
         font-style: italic;
         font-weight: 1 999; 
      }

      body {
        font-size: 18px;
        line-height: 1.4em;
        font-weight: 230;
        padding: 0px;
        margin: 0px;    
        width: 100%;
        height: 100vh;
        font-family: 'Petrona', "Iowan Old Style", "Apple Garamond", "Baskerville", "Times New Roman", "Times", "Source Serif Pro", serif;
        overflow: hidden;
        position: relative;
        background: white;
        color: black
      }

    .leftmost::-webkit-scrollbar {
        width: 0px;
        background-color: transparent;
    }

    /*::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background: #fff;
    }

    .leftmost:hover::-webkit-scrollbar-thumb, .right:hover::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background: #eee;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #eee;
    }

    ::-webkit-scrollbar-track {
        border-radius: 0px;
        background-color: transparent;
    }*/


      br{
        display: block;
         content: "";
         border-bottom: 10px solid transparent;
      }

      .quote{
        width: calc(100% - 4rem);
        margin: 1.8em 2rem 1.8em 2rem;
        font-style: italic;
        line-height: 1.47em;
        font-weight: 200;
/*        color: grey;*/
        font-size: 1.06em;
        text-align: justify;
/*        hyphens: auto;*/
      }

      .quote br{
         border-bottom: 1.3em solid transparent;
      }

      .quote > a::before{
        content: "—";
        margin: 0px 1px 0px 5px;
        font-weight: 200;
      }

      .quote > a {
        color: black;
        margin-top: 0.6rem;
        width: 40%;
        margin-left: 60%;
        display: block;
        text-decoration: none;
      }

      .quote > a:hover{
        text-decoration: none;
      }

      .excerpt{
        width: calc(100% - 80px);
        height: fit-content;
         border: solid 0.5px black;
        outline: 0.5px solid black;
        outline-offset: -4px;
        padding: 35px 40px;
        margin: 1.5em 0px;
      }

      .excerpt-title{
        font-weight: 600;
        line-height: 1.3em;
        font-size: 26px;
      }

      .excerpt-content{
        margin: 0em;
      }

      .excerpt-content p{
         font-size: 17px;
      }

      hr{
        margin: 18px 0px 5px 0px;
        display: block;
      }

      #link-list br{
       border-bottom: 3px solid transparent;
      }

      main ul, ol{
         margin: 1.9em 0px;
        font-weight: 200;
      }

      li > p > strong:nth-child(1) {
        font-weight: 500;
      }

      code{
        font-weight: 100;
        font-family: monospace;
        font-size: 0.9em;
        padding: 0.1em 5px;
        background: #eee;
      }

      ol > li::marker {
          font-weight: 500;
          margin-right: 20px;
        }

      main li > p{
        margin: 0.6em 0px;
      }

      main ol li{
        margin: 1.3em 0px;
        padding-left: 10px;
        font-weight: inherit;
      }

      main ul li{
        margin: 1.3em 0px;
        padding-left: 5px;
        font-weight: inherit;
      }

      .leftmost h2{
        line-height: 1.2em;
        margin: 0.7rem 0px;
        font-size: 1.5em;
      }


      .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }

    .toc-list, .toc-list ol {
      list-style-type: none;
    }

    .toc-list {
      padding: 0;
    }

    .toc-list ol {
      padding-inline-start: 40px;
    }

    .toc-list > li > a {
      font-weight: bold;
      margin-block-start: 1em;
    }

    .toc-list li > a {
        text-decoration: none;
        display: grid;
        grid-template-columns: auto max-content;
        align-items: end;
        margin: 0px;
    }

    .toc-list li > a > .title {
        position: relative;
        overflow: hidden;
        font-weight: 300;
        transition: color 0.3s ease;
         margin: 5px 0px 5px 0px;
         font-size: 17px;
    }

    .toc-list li > a > .title:hover {
/*      text-shadow: 0px 0px 2px grey;*/
      text-decoration: underline;
    }

    /*.toc-list li > a > .title:hover > .leaders{
      color: black;
    }*/

    .toc-list li > a > .title.bold {
      font-weight: 800;
    }

    .toc-list li > a > .title.bold > .leaders {
      font-weight: 200;
    }

    .toc-list li > a .leaders::after {
        position: absolute;
        padding-inline-start: .25ch;
        content: " . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . . . . ";
        text-align: right;
        pointer-events: none;
    }

    .toc-list li > a > .page {
        min-width: 1ch;
        font-variant-numeric: tabular-nums;
        text-align: right;
        margin: 0px -5px;
        padding: 5px 7px;
        border-radius: 50%;
        z-index: 1;
      font-weight: 100;
      font-size: 16px;
    }

    .page:hover + .hidden, .page:active + .hidden, .hidden:hover{
      opacity: 1;
      max-height: 100px;
      transition: max-height 0.6s linear, opacity 0.5s linear;
      transition-delay: 0.2s;

    }

    .hidden{
      overflow: hidden;
      opacity: 0;
      max-height: 0px;
      font-weight: 100;
      font-size: 14px;
      transition: max-height 0.6s ease-out, opacity 0.45s linear;
      transition-delay: 0s, 0.1s;
      line-height: 1.4em;
      width: 105%;
      }

    .hidden:after{
      content: " ";
      width: 100%;
      height: 10px;
      display: block;
      line-height: 1.2em;
    }



    table{
       table-layout: fixed;
      width: 100%;
    /*  border-collapse: collapse;*/
    border-spacing: 0;
      margin: 0px 0px 20px 0px;
      display: inline-table;
    }

    thead th:nth-child(1) {
      width: 38%;
    }

    tr{
      transition: all 0.5s ease;
    }

    tr:hover{
      background: #f5f5f5;
    }

    thead th:nth-child(2) {
      width: 62%;
    }

    th{
      background: inherit;
      padding: 20px 20px;
      font-size: 20px;
      font-weight: 800;
      border-bottom: 0.6px solid #bbb;

    }

    tr:hover th{
      background: white;
    }

    tr th{
      background: white;
    }

    td{
      padding: 20px 20px;
      vertical-align: top;
      font-size: 16px;
      line-height: 1.5em;
      border-bottom: 0.6px solid #bbb;
      font-weight: 200;
    }

    td a{
      font-weight: 600;
    }

      nav#TableOfContents ul{
        width: 100%;
         list-style-type: none;
          margin: 0px;
          padding: 0px;
        font-weight: 200;
      }

      #TableOfContents ul a:hover{
        text-decoration: underline;

      }

      nav#TableOfContents ul ul{
        width: 90%;
         list-style-type: none;
          margin: 0px 0px 0px 30px;
          padding: 0px;
          font-weight: 100;
      }

      nav#TableOfContents ul ul a:hover{
         text-decoration-thickness: 1px;
         text-underline-offset: 1.5px;
      }

      nav#TableOfContents ul li{
          margin: 10px 0px;
          padding: 0px;
          font-size: 18px;
      }


      img{
        width: 100%;
        height: auto;
        margin: 10px 0px;
        border: solid 1px #bbb;
      }

       .fade {
        opacity: 0 !important;
        }

      h1{
        line-height: 1.3em;
        font-weight: 800;
        font-size: 3.4rem;
        margin: 1rem 0px 2rem 0px;
      }

      #page-title{
         text-align: center;
        padding: 0px 0px;
        margin: 0.3rem 0px 0rem 0px;
        line-height: 1.2em;
        font-size: 1.7rem;
        font-weight: 200;
        display: inline-block;
        width: 100%;
      }

      #page-title a{
        text-decoration: none;
      }

      .section{
        margin: 2.3rem 0px;
      }

      .leftmost{
        width: 14rem;
        height: calc( 100vh - 3rem);
        margin: 0rem 0px;
        display: inline-block;
        border-right: solid 1px #ddd;
        position: relative;
        padding: 2rem 2rem 1rem 2rem;
        overflow: auto;
        scroll-behavior: auto;
        pointer-events: auto;
      }

      h1 a, h1 a:hover{
        text-decoration: none;
      }

      h2, h3{
         scroll-margin-top: 1em;
      }

      h2{ 
      line-height: 1.2em;
      margin: 2.8rem 0px 0em 0px;
      font-size: 2em;
      padding: 0px;
     }

     h3{
      margin: 2.7rem 0px -0.2em 0px;
      font-size: 1.4em;
      padding: 0px;
      font-weight: 600;
     }

      .left{
        width: 14rem;
/*        border-right: solid 1px lightgray;*/
        height: calc( 100vh - 3.4rem);
        margin: 0rem 0px; 
        display: inline-block;
        vertical-align: top;
        padding: 1.7rem 2rem 1.7rem 2rem;
        overflow: auto;
        border-right: solid 1px #ddd;
        box-shadow: inset -2px 0px 3px 0px #ddd, inset 2px 0px 3px 0px #ddd;
        background: #f5f5f5;
        transition: width 0.4s ease, padding 0.4s ease, color 0.1s ease;
        scroll-behavior: smooth !important;
      }

      .left::-webkit-scrollbar {
          width: 0px;
          background-color: transparent;
      }

      .holder{
         opacity: 1;
          transition-duration: 0.6s;
          transition-property: opacity;
      }

      .closed{
        width: 0px;
        padding: 0px;
        overflow: hidden;
        color: transparent;
/*        word-break: keep-all;*/
/*        white-space: nowrap;*/
      }

      .right{
        width: calc( 100% - 38rem);
        display: inline-block;
        vertical-align: top;
        text-align: center;
        padding: 1.6rem 0px 1rem 1rem;
        height: calc( 100vh - 2.6rem );
        overflow: auto;
         opacity: 1;
          transition-duration: 0.6s;
          transition-property: opacity;
          scroll-behavior: smooth !important;
      }

      p{
        margin: 1.3em 0px;
        line-height: 1.47em;
        font-weight: 230;
        font-size: 18.6px;
      }

      main{
        width: 90%;
        max-width: 38rem;
        text-align: left;
        transition: all 0.5s ease;
        display: inline-block;
      }

      main a{
        font-weight: 600;  
      }
      
      #bottom{
        position: absolute;
        bottom: 10px;
        width: 100%;
      }

      a{
        color: inherit;
        text-decoration: none;  
      }

      a:hover{
         text-decoration: underline; 
          text-underline-offset: 1.4px;

      }


      .leftmost-item{
        width: 100%;
        margin: 7px 0%;
        font-size: 1em;
        font-weight: 200;
      }

      .left-item{
        width: 100%;
        margin: 15px 0%;
        font-size: 16px;
        font-weight: 200;
      }

      .left-item > a:hover, .leftmost-item > a:hover{
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }

      .bold > a{
        font-weight: 800;
      }

      .bold > a:hover{
        text-decoration: none ;
      }

      .bold{
        margin: 0.6rem 0px;
      }

      .subtitle{
        margin-bottom: 2rem;
        text-align: left;
      }

      .close-mobile-menu, #mobile-menu{
          display: none;
      }

      .list-section{
        width: 30%;
        margin-left: 35%;
        margin-top: 6rem;
      }

      .list-section h2{
        text-align: center;
        margin-bottom: 1.3em;
      }


      @media only screen and (max-width: 1200px) and (orientation: landscape){

           body{
          height: 100%;
          position: fixed;
        }

        html{
          height: 100%;
        }

        p{
          font-size: 18px;
        }

        .leftmost{
          height: calc( 100% - 3rem);
        }

        .right{
            height: calc( 100% - 2.6rem);
        }

        .list-section{
        width: 40%;
        margin-left: 30%;
      }

         h3{
          font-size: 22px;
          font-weight: 800;
        }


        h1{
          font-size: 45px;
        }

        main h2{
          font-size: 32px;
          font-weight: 800;

        }

        main a{
          text-decoration: underline;
          text-underline-offset: 1px;
        }

       }


      @media only screen and (max-width: 1050px){

        .left{
          display: none;
        }

        .right{
          width: calc( 100% - 19.5rem);
          height: calc( 100% - 2.6rem);
        }

         .list-section{
        width: 60%;
        margin-left: 20%;
      }

        body{
          height: 100%;
          font-size: 16px;
          line-height: 1.5em;
        }

        p{
          font-size: 18px;
        }

         html{
          height: 100%;
        }

        .leftmost{
          height: calc( 100% - 3rem);
          width: 13rem;
        }

         h3{
          font-size: 24px;
          font-weight: 800;
        }


        h1{
          font-size: 45px;
        }

        main h2{
          font-size: 36px;
          font-weight: 800;

        }

        main a{
          text-decoration: underline;
          text-underline-offset: 1px;
        }
      }



       @media only screen and (max-width: 600px){

        h3{
          font-size: 22px;
        }

        h2{
          font-size: 30px;
        }

        p{
          font-size: 16px;
        }

        main ul li{
          margin: 1.3em 0px;
          padding-left: 5px;
          font-size: 16px;
        }

        main ol li{
          margin: 1.3em 0px;
          padding-left: 5px;
          font-size: 16px;
        }

        .excerpt{
          padding: 30px;
          width: calc(100% - 60px);
        }

         .excerpt-title{
        line-height: 1.5em;
        font-size: 22px;
      }

      .excerpt-content p{
         font-size: 15px;
      }

        .list-section{
        width: 90%;
        margin-left: 0%;
        margin-top: 10em;
      }

        #mobile-menu #title{
          font-size: 1.5em;
          line-height: 1.2rem;
          width: 7rem;
          text-align: left;
          font-weight: 300;
          margin: 5px 5px;
          display: inline-block;
           vertical-align: top;
        }

        .close-mobile-menu{
          text-align: right;
          width: 100%;
          margin-top: -1rem;
          margin-bottom: -1rem;
          display: block;
          position: relative;
        }

        #mobile-menu{
          text-align: left;
          margin-bottom: 2rem;
          padding: 0px 1rem;
          display: block;

        }

        #buttons{
          display: inline-block;
          border: none;
          width: calc( 100% - 8rem);
          text-align: right;
          padding: 3px 0px;
        }

        .close-mobile-menu button, #mobile-menu button{
          display: inline-block;
          margin: 0px 10px;
          background: transparent;
          border: none;
          height: 1.5em;
          vertical-align: top;
          font-size: 16px;
          font-family: 'Petrona', "Iowan Old Style", "Apple Garamond", "Baskerville", "Times New Roman", "Times", "Source Serif Pro", serif;
          color: black;
        }

        .close-mobile-menu button{
          position: fixed;
          right: 10px;
        }

        .left{
          display: none;
        }

        .leftmost{
          display: none;
          width: calc( 100% - 3rem);
          height: calc( 100%);
          overflow: visible;
        }

        a{
          text-decoration: underline;
          text-underline-offset: 1.5px;
        }

        #title a{
          text-decoration: none;
        }

        .leftmost a{
           text-decoration: none;
        }

        body{
          height: 100%;
          overflow: auto;
        }

        .right{
          width: calc( 100% - 0rem);
          padding: 0rem;
          padding-top: 1rem;
          overflow: visible;
          height: calc( 100% - 1rem);
        }

        main{
          width: 86%;
          margin: 0px 1%;
        }


         .invisible{
          display: none;
        }

        .visible{
          display: inline-block;
        }

        td, th{
           word-break: break-word;
           padding: 10px;
           font-size: 13px;
        }

        th{
          font-size: 17px;
        }

        .quote{
          font-size: 0.9em;
          width: 90%;
          margin-left: 5%;
        }

        .quote a{
          margin-left: 60%;
        }
      }

      
.c-image{
    height: 100%;
    width: auto;
    border: 0; 
    padding: 0px;
    margin: 0px;
}

.c-image-holder{
  height: calc(100% - 2em);
  width: fit-content;
  display: inline-block;
  margin: calc(1em) 0.5em 1em 0em;
  border: solid 0.5px grey;
  outline: 0.9px solid grey;
  outline-offset: -4px;
  padding: 3px;
  vertical-align: top;
/*  box-shadow: -2px 2px 7px lightgray;*/
}

.carousel {
  overflow: auto;
  white-space: nowrap;
  width: fit-content;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.large-carousel{
  height: 25em;
}

.small-carousel{
  height: 15em;
}
/*
.carousel::after{
  content: " ";
  display: inline-block;
  width: 10px;
  height: 100%;
  background: black;
  margin-left: -10px;
}*/


#photos {
  line-height: 0;   
  width: 100%;
  -webkit-column-count: 3;
  -webkit-column-gap:   1em;
  -moz-column-count:    3;
  -moz-column-gap:      1em;
  column-count:         3;
  column-gap:           1em; 
  margin: 1em 0em;
/*  row-gap: 1em;
  -webkit-row-gap: 1em;
  -moz-row-gap: 1em;*/
}

#photos img {
  min-width: 10em;
   border: solid 0.5px black;
  outline: 0.5px solid black;
  outline-offset: -4px;
  transition: all 0.3s ease;
  padding: 3px;
  cursor: pointer;
  margin: 0.4rem 0px;
  position: relative;
  filter: grayscale(1) brightness(105%);
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  background: white;
}

#photos p{
  margin: 0px;
  line-height: 0px;

}

#photos a{
  text-decoration: none;
  font-size: 0px;
  padding: 10px;
}

#photos img:hover {
/*  box-shadow: 0px 0px 15px #aaa;*/
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05); 
  z-index: 2;
  transition: all 0.3s ease;
  filter: grayscale(0);
  -webkit-filter: brightness(100%);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

#photos div{
  height: fit-content;
  padding: 10px;
  margin: 0px;
}

#photos div:hover > p{

}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 1050px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
  #photos img {
  min-width: 6em;
  filter: grayscale(0) brightness(100%);

}
}

@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
  #photos img {
  min-width: 6em;
}
}

@media (max-width: 600px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}

@media (max-width: 450px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

     
</style>