<html>

<head>
<style>
      @font-face {
        font-family: 'Petrona';
        src: url('fonts/Petrona.woff2') format('woff2');
         font-display: swap;
         font-weight: 300; 
         font-style: normal;
      }

	div{
		width: 100%;
		text-align: center;
		font-family: 'Petrona', "Iowan Old Style", "Apple Garamond", "Baskerville", "Times New Roman", "Times", "Source Serif Pro", serif;
		margin-top: 40vh;
	}

	a{
		color: black;
	}
</style>
</head>
<body>

	<div>
		<big><big><big><big> 404 </big></big></big></big>
		<br>
		<br>
		This page doesn't exist. Go back <a href="/">home</a>.
	</div>
</html>